{% extends 'index/index.html' %}

{% block header_block %}
    <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-95.65,35.05 C144.74,263.98 442.15,-48.83 526.80,134.72 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #212529;"></path></svg></div>
{% endblock header_block %}

{% block body_block %}
    <form action={% url 'login' %} method='post'>
        {% csrf_token %}
        <table>
            {{login_form.as_table}}
        </table>
        <input type="submit" value='Login'>
    </form>
    <p style='color: red;'>
        {% if msg %}
            {{msg}}
        {% endif %}    
    </p>
{% endblock body_block %}