{% extends 'index/index.html' %}

{% block header_block %}
<div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-95.65,35.05 C144.74,263.98 442.15,-48.83 526.80,134.72 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #212529;"></path></svg></div>
{% endblock header_block %}

{% block body_block %}
        <div style='display: flex; 
        justify-content: center; 
        margin: 1rem; 
        box-shadow: 1rem 1rem 150rem #444; 
        background-color: #85A6B9; 
        border-radius: 30px; 
        text-shadow: 1px 1px 40px #000;'>
            <h3 style='padding: 3rem; color: #383A40; '>Te deslogeaste con exito</h3>
        </div>
{% endblock body_block %}