{% extends 'index/index.html' %}


{% block header_block %}
    <div style='display: felx; background-color: #212529;'>
        <h1 style='justify-content: center; color: #fff; padding: 2rem; margin: 0;'>DETAILS</h1>
    </div>
    <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-95.65,35.05 C144.74,263.98 442.15,-48.83 526.80,134.72 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #212529;"></path></svg></div>
{% endblock header_block %}


{% block body_block %}

    <p>
        <a href={% url 'pages' %} style='padding: 1rem;'><i class="bi bi-arrow-bar-left"></i> volver</a>
    </p>

    <p>
        <li>{{page.title}}</li>
        <li>{{page.subtitle}}</li>
        <li>{{page.author}}</li>
        {% if page.image_page %}
            <img src="{{page.image_page.url}}" alt="image" height="70"> <br>
        {% endif %}
        <li>{{page.content | safe }}</li>
        <li>{{page.datetimecreation | date:'d-m-Y H:m'}}</li>
    </p>

{% endblock body_block %}
