{% extends 'index/index.html' %}


{% block header_block %}
    <div style='display: felx; background-color: #212529;'>
        <h1 style='justify-content: center; color: #fff; padding: 2rem; margin: 0;'>BORRAR</h1>
    </div>
    <div style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M-95.65,35.05 C144.74,263.98 442.15,-48.83 526.80,134.72 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #212529;"></path></svg></div>
{% endblock header_block %}

{% block body_block %}
    <p>
        <a href={% url 'pages' %} style='padding: 1rem;'><i class="bi bi-arrow-bar-left"></i> volver</a>
    </p>
    
    <form action='' method='post'>
        {% csrf_token %}
        Esta seguro de que quiere eliminar el articulo, {{object}}?<br><br><br>
        <input style='padding: 1rem 3rem; margin: 1rem;' type="submit" value='Borrar'>
    </form>
{% endblock body_block %}
