{% extends 'index/index.html' %}

{% block header_block %}
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            {% block header_text_block %}
                                <h1 class="display-5 fw-bolder text-white mb-2">PAGES</h1>
                            {% endblock header_text_block %}
                            <p class="lead text-white-50 mb-4"></p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock header_block %}

{% block body_block %}
    <div style='width:65rem; margin:0 auto; padding: 1rem; '>
        <div style='background: #E0EDFC; padding: 2rem; border-radius: 1rem;'>
            <a href={% url 'page_create' %}>Crear articulo</a>

        {% for page in page_list %}
            <ul>
                <li>{{page.title}}<br>
                    {% if page.image_page %}
                        <img src="{{page.image_page.url}}" alt="image" height="70"><br>
                    {% endif %}
                    {{page.content|striptags|safe|truncatechars:"70"}}<br>
                    {{page.datetimecreation | date:'d-m-Y'}}
                    <a href={% url 'page_detail' page.id %}>mas info</a> |
                    <a href={% url 'page_delete' page.id %}>borrar</a> |
                    <a href={% url 'page_edit' page.id %}>Modificar</a>
                </li>
            </ul>
        {% endfor %}

        {% if not page_list %}
            <p style='color: #ff0000;'>¡No hay articulos creados!</p>
        {% endif %}
        
        </div>
    </div>
{% endblock body_block %}