{% extends 'index/index.html' %}

{% block header_block %}
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            {% block header_text_block %}
                                <h1 class="display-5 fw-bolder text-white mb-2">MOVIES</h1>
                            {% endblock header_text_block %}
                            <p class="lead text-white-50 mb-4">Las pelicuals más recomendadas por la comunidad</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
{% endblock header_block %}

{% block body_block %}
    <div style='width:50rem; margin:0 auto; padding: 4rem; '>
        <div style='background: #E0EDFC; padding: 2rem; border-radius: 1rem;'>
            <ul style='list-style:none; '>
                <li>
                    <a href={% url 'crear_pelicula' %} style='text-decoration: none;'>¡Ingresa tu pelicula favorita!</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock body_block %}